---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Entries
import BlogCard1 from "@/components/blog/BlogCard1.astro";
// Get all posts
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<div>
  <Text
    tag="h2"
    variant="textXS"
    href="/blog/briefs"
    class="text-base-900 uppercase font-medium"
  >
    Briefs
  </Text>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-2 relative before:absolute after:absolute before:bg-base-950 after:bg-base-950/10 before:top-0 before:left-0 before:h-px before:w-6 after:top-0 after:right-0 after:left-8 after:h-px pt-4"
  >
    {
      allPosts
        .filter((post) => post.data.isBrief)
        .slice(0, 3)
        .map((post) => <BlogCard1 post={post} />)
    }
  </div>
</div>
