---
import { Image } from "astro:assets";
import advertAside from "@/images/assets/advertAside.svg";
---
<div
class="relative w-full overflow-hidden rounded-xl mt-6 flex items-end"
>
<a
  href="https://lexingtonthemes.com/"
  title="link to https://lexingtonthemes.com/"
  class="absolute inset-0 z-10"></a>

<Image
  src={advertAside}
  alt="#_"
  width={1000}
  height={1000}
  class="w-full h-full object-cover aspect-square lg:aspect-auto object-bottom lg:object-center"
/>
</div>